<%= form_for [@event, @event.registrations.new] do |f| %>
  <p><strong>Price:</strong> <span>€</span> <%= @event.price %></p>

  <hr>

  <div class="form-group">
    <label>How many people are going to attend:</label>
    <%= f.select :guests_count, [["1", 1], ["2", 2], ["3", 3]] %>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit "Register now for this event", class: "btn btn-default" %>
  </div>
<% end %>
